*.jpg  	binary
*.png 	binary
*.gif 	binary

*.txt text eol=lf
*.java text eol=lf
*.yml text eol=lf
*.info text eol=lf

#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
