# Eclipse stuff
.classpath
.project
.settings

# NetBeans
nbproject
build.xml
nbbuild

# Idea stuff 
/.idea
*.iml

# Various IDEs like to add child .gitignore files
**/.gitignore

# vim
.*.sw[a-p]

# various other potential build files
target
build
.gradle
bin
dist
out
localexport.jardesc

# Minecraft and Forge files
platforms/forge/crash-reports
platforms/forge/logs
platforms/forge/mods
platforms/forge/config
platforms/forge/options.txt
platforms/forge/saves
platforms/forge**/assets


# Mac filesystem dust
.DS_Store
