
# ChunkGenerator

public net.minecraft.world.gen.DimensionSettings func_236120_h_()Z # A check before doing mob spawning: if (!this.field_236080_h_.get().func_236120_h_()) { do mob spawning }

# OTG dimension settings registry

public net.minecraft.world.gen.DimensionSettings <init>(Lnet/minecraft/world/gen/settings/DimensionStructuresSettings;Lnet/minecraft/world/gen/settings/NoiseSettings;Lnet/minecraft/block/BlockState;Lnet/minecraft/block/BlockState;IIIZ)V

# World creation menu OTG world type

public net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens <init>(Ljava/lang/String;)V
public net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens field_239068_c_ # list of worldtypes for world creation gui

# World creation screen OTG world type customise button

public net.minecraft.client.gui.screen.WorldOptionsScreen func_239043_a_(Lnet/minecraft/world/gen/settings/DimensionGeneratorSettings;)V
public-f net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens field_239069_d_

# Async chunkgen (base terraingen), find chunks to pre-gen before they're requested.
public net.minecraft.world.gen.WorldGenRegion field_201684_a # cache

# Shadowgen, assign shadowgenned chunk data to world chunks.
public-f net.minecraft.world.chunk.ChunkPrimer field_201657_e # heightmaps
public-f net.minecraft.world.chunk.ChunkPrimer field_201661_i # sections
public-f net.minecraft.world.chunk.ChunkPrimer field_201663_k # lights